<div class="content-wrapper">
  <div>
    <div class="datatable_header">
      <h1>
        <span>Table component</span><br />        <small>by Kousican perumal</small>
      </h1>
    </div>
    <div class="table-wrapper">
      <label class="label-control">Select No Rows</label>
      <select [(ngModel)]="pageSize">
        <option [ngValue]="3">3</option>
        <option [ngValue]="5">5</option>
        <option [ngValue]="10">10</option>
        <option [ngValue]="15">15</option>
      </select>
      <div *ngIf="data !== undefined">
        <div class="tableFixedHead">

          <table>
            <thead>
              <tr>
                <th style="width: 10%"> Action</th>
                <th style="width: 10%">
                  Id
                </th>
                <th style="width: 20%">
                  Name
                </th>
                <th style="width: 10%">
                  Phone
                </th>
                <th style="width: 10%">
                  Email
                </th>
                <th style="width: 20%">
                  Company
                </th>
                <th style="width: 20%">
                  Date Entry
                </th>
                <th style="width: 20%">
                  Org num
                </th>
                <th style="width: 20%">
                  Address
                </th>
                <th style="width: 20%">
                  City
                </th>
                <th style="width: 20%">
                  Zip
                </th>
                <th style="width: 20%">
                  Pin

                </th>
                <th style="width: 20%">
                  Status
                </th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let item of data | slice:pageIndex*pageSize:(pageIndex+1)*pageSize">
                <td>
                  <button (click)="send(item)">Post</button>
                </td>
                <td>{{item.id}}</td>
                <td>{{item.name | uppercase}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.email}}</td>
                <td>{{item.company }}</td>
                <td>{{item.date_entry | date: 'MM/dd/yyyy'}}</td>
                <td>{{item.org_num}}</td>
                <td>{{item.address_1 }}</td>
                <td>{{item.city}}</td>

                <td>{{item.zip }}</td>
                <td>{{item.pin }}</td>
                <td>{{item.status}}</td>

              </tr>


            </tbody>

          </table>

        </div>
        <table>
          <tfoot>

            <app-pager [itemCount]="data.length" [(pageIndex)]="pageIndex" [pageSize]="pageSize"></app-pager>

          </tfoot>
        </table>
      </div>
    </div>
  </div>




</div>


