.datatable {
  overflow: auto;
 
  font-size: 12px;
  font-family: Arial, sans-serif;

  min-width: 300px;
  min-height: 400px;
  overflow: auto;
}

.datatable-header {
  border-bottom: solid 1px #eeeeee;
  margin-bottom: 10px;
  padding: 10px 0;
}

.table-header {
  text-align: left;
  color: White;
  background-color: #424242;
}

.example-container {
 
}


.tableFixedHead {
  overflow-y: auto;
  height: 450px;
}

  .tableFixedHead thead th {
    position: sticky;
    top: 0;
  }


table {
  border-collapse: collapse;
  width: 100%;

}

th, td {
  padding: 8px 16px;
}

th {
  background: #eee;
}



