<button [disabled]="!canMoveToPreviousPage" (click)="moveToFirstPage()"><</button>
<button [disabled]="!canMoveToPreviousPage" (click)="moveToPreviousPage()"><<</button>
<button disabled style="width:100px">{{pageIndex + 1}} / {{_pageCount}}</button>
<button [disabled]="!canMoveToNextPage" (click)="moveToNextPage()">>></button>
<button [disabled]="!canMoveToNextPage" (click)="moveToLastPage()">></button>
